<section class="banner">

  <!-- <img src="{{ site.author.image }}" alt="author thumb" class="dot animated hinge fadeInDown"> -->

  <!-- <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">{{ site.name }}'s <strong itemprop="name">Blog</strong> -->
  <nav class="actions">
  	<a href="{{ "/category/notes" | prepend: site.baseurl }}" class="button ghost">Notes</a>
  	<a href="{{ "/category/poems" | prepend: site.baseurl }}" class="button ghost">Poems</a>
  </nav>

</section>
